{% extends 'userath/base.html'%}

{% block content %}
<h2>Habits tracking</h2>
<p>Habits tracking is powerful because it leverages multiples laws of behavior change.It simultaneously makes a behavior obvious, attractive and satisfying</p>
<li>Get a habit days streak <a href="/habit_days_streak/{{encoded_id}}">here</a></li>
<li>Get a performance graph <a href="/habits_performance/{{encoded_id}}">here</a></li>
<li>Home page here <a href="/user_home_page/{{encoded_id}}/{{time}}">here</a></li>

{% endblock %}