{% extends 'userath/base.html'%}

{% block content %}
{% load custom_filters %}
<h2>ToDoList</h2>
<h3>{{day}}</h3>
<style>
    .task-table-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh; /* Adjust the height as needed */
    }

    .task-table {
        width: 60%;
        border-collapse: collapse;
    }

    .task-table th,
    .task-table td {
        padding: 15px;
        border: 1px solid #ccc;
        text-align: center;
    }

    .task-checkbox {
        width: 25px;
        height: 25px;
    }



</style
>

<style>
  .perfect {
    background-color: rgb(0, 0, 255);  /* Blue */
  }
  .very_good {
    background-color: rgb(51, 153, 255);  /* Light Blue */
  }
  .good {
    background-color: rgb(144, 238, 144);  /* Light Green */
  }
  .normal {
    background-color: rgb(255, 255, 255);  /* White */
  }
  .bad {
    background-color: rgb(255, 153, 153);  /* Light Red */
  }
  .very_bad {
    background-color: rgb(255, 51, 51);  /* Red */
  }
</style>

<form method="POST" action="/change_day/{{encoded_id}}">
    {% csrf_token %}
    <div>
        <select name="day" >
            <option value="{{ day|extract_day }}" selected>{{ day|extract_day }}</option>
            {% for my_day in days_range %}
                <option value="{{my_day}}">{{ my_day }}</option>
            {% endfor %}


        </select>

        <select name="month" >
            <option value="{{ day|extract_month }}" selected>{{ day|extract_month }}</option>
            {% for my_month in month_range %}
                <option value="{{my_month}}">{{ my_month }}</option>
            {% endfor %}


        </select>

        <select name="year" >
            <option value="{{ day|extract_year }}" selected>{{ day|extract_year }}</option>
            {% for my_year in year_range %}
                <option value="{{my_year}}">20{{ my_year }}</option>
            {% endfor %}


        </select>

    <input type="submit" value="Change day">
    </div>

</form>

<form method="POST" action="/user_home_page/{{encoded_id}}/{{day}}">
    {% csrf_token %}

<div class="task-table-container">
    <table class="task-table">
        <tr>
            <th>Task</th>
            <th>Time</th>
            <th></th>

        </tr>
        {% for task in tasks %}

            <tr class="{{ task.performance }} ">
                <th>{{ task.name }}</th>

                <th>{{ task.time}}</th>


                {% if task.bool_check %}
                    <th><input type="checkbox" checked name="bool_check" value="{{task.id}}" class="task-checkbox"></th>
                {% else %}
                    <th><input type="checkbox" class="task-checkbox" name="bool_check" value="{{task.id}}"></th>
                {% endif %}

            </tr>
        {% endfor %}
    </table>
</div>
    <input type="submit" value="Save changes">

</form>

<form action="/edit_page/{{encoded_id}}/{{day}}">
    <input type="submit" value="Edit">
</form>

<form action="/add_page/{{encoded_id}}/{{day}}">
    <input type="submit" value="Add">
</form>

<form action="/delete_page/{{encoded_id}}/{{day}}">
    <input type="submit" value="Delete">
</form>

<form action="/habit_tracking/{{encoded_id}}">
    <input type="submit" value="Habits tracking">
</form>
<li>Test <a href="/test/{{encoded_id}}">here</a></li>

{% endblock %}